@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond');


body {
    /*    font-family: ui-sans-serif, system-ui;*/
    font-family: 'Raleway', sans-serif;
}

a {
    color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

#headerarea {
    height: 55vh;
    width: 100%;
    background: #524d4d !Important;
    overflow: hidden;
}

@screen lg {
    #headerarea {
        height: 100vh;
    }
}

video#videobg {
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* min-width: 100%; */
    /* min-height: 100%; */
    /* width: auto; */
    /* height: auto; */
    z-index: 2;
    /* transform: translateX(-50%) translateY(-50%); */
    /* background: url(images/poster.jpg) no-repeat; */
    background: #000;
    /* background-size: cover; */
    transition: 1s opacity;
    object-fit: cover;
    -o-object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
}

.hover-border-bottom a:hover span {
    transform: scaleY(2);
}
